
<html lang="en">
	<head> 
		<meta charset="uft-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
		<meta name="viewport" content="width=device-width"/>
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		</head>
		<body>
			<h1> My Website</h1>
		</body>
</html> 